<div class="list-product">
    <div class="list-product-header">
        <div class="header-item with-line">
            <i class="fas fa-search"></i>
            <input type="search" class="search-input" placeholder="Serach product.." (input)="onSearch($event)"/>
        </div>
        <div class="header-item">
            <h4>List of Products</h4>
        </div>
    </div>
    <div class="content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Stock Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of products">
                <tr>
                    <td>{{ product?.name }}</td>
                    <td>{{ product?.price | currency : 'PHP' }}</td>
                    <td>{{ product?.stockNumber }}</td>
                    <td><button class="btn btn-primary" [routerLink]="['/branch','products','details',product?.hardwareProductId, product?.branchId]">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>