.items{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 1px black solid;
    /* position: fixed; 
    z-index: 1;
    /* top: 0;  */
    /* left: 0; */
    /* background-color: #111; Black */
    /* overflow-x: hidden;
    padding-top: 20px;  */
}
li{
    list-style: none;
}
a{
    color: black;
}
.content{
    margin-top: 50px;
}
.item{
    padding: 10px;
    margin: 5px;
    font-size: 22px;
}
/* .item:nth-child(2){
    border-left: 1px black solid;
    border-right: 1px black solid;;
} */