<div class="main"> 
    <div class="hardware-store">
        <div class="img"> 
            <img src="https://thumbs.dreamstime.com/b/vector-logo-building-materials-store-company-201109462.jpg" alt="" height="280" width="350">
        </div>
        <div class="content"> 
            <div class="info"> 
                <p class="info-text">{{ hardwareStore.hardwareStoreName }}</p>
                <!-- <p [class]="hardwareStore.isOpen ? 'info-text open' : 'info-text close'">{{ hardwareStore.isOpen ? 'Open' : 'Close' }}</p> -->

            </div>
            <button (click)="go(hardwareStore)" class="btn my-btn">Go</button>
        </div>
        
    </div>
</div>
