.main-products{
    margin: 0%;
}
.fix{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
    transition: ease-in 370ms;
    background-color: #F4DF4EFF;
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
}
.selected-item{
    background-color: #F4DF4EFF;
    font-weight: 600;
    color: #020202;
}
a{
    text-decoration: none;
}
.cart{
    float: right;
    width: 180px;
    height: 60px;
    margin-top: 28px;
    white-space: nowrap;
    border: 4px #020509 solid;
    border-radius: 15px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
    font-size: 25px;
}
.prod-count{
    margin-left: 15px;
    font-size: 25px;
}
.prod-count-red{
    font-size: 25px;
    color: red;
}
.categ-header{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    z-index: 9;
}
.items{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}
.scrollable{
    overflow-x: scroll;
}
.categ-btn{
    font-weight: 600;
    background-color: #020202;
    color: #F4DF4EFF;
    border-radius: 15px;
    padding: 15px;
    border: 4px #F4DF4EFF solid;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
}
.item{
    margin: 0px 20px 0px 20px;
    white-space: nowrap;
    padding: 15px;
}
.categ-btn:hover{
    font-weight: 600;
    background-color: #F4DF4EFF;
    color: #020202;
    transition: ease-in-out 350ms;
    transition: ease-out 350ms;
}
.product{
    height: 460px;
    border: 2px black solid;
}
.prod-img{
    margin: 10px;
}
.prod-content{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    margin: 10px;
}
.prod-container{
    margin-top: 20px;
}
.products{
    display: grid;
    grid-template-rows: 1fr 10fr;
    justify-items: center;
    padding: 10px;
}
.prod-btn{
    height: 40px;
}
.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product-loop{
    padding: 10px;
    margin: 10px;
}
li{
    list-style: none;
} 
.cart:hover{
    background-color: #020509;
    border: 4px #F4DF4EFF solid;
    color: #F4DF4EFF;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    width: 20px;
    background: #020202;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

.categ-selected{
    font-weight: 600;
    background-color: #F4DF4EFF;
    color: #020202;
    transition: ease-in-out 350ms;
    transition: ease-out 350ms;
}

.products-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    margin-top: 2vh;
}
.search-container{
    display: flex;
    justify-content: center;
    width: auto;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2vh;
    padding-right: 2vh;
    /* padding: 2vh; */
    border: 2px #f33918 solid;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    width: 100%;
}
.search-text{
    background-color: #f33918;
    color: white;
    font-size: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    padding: 5px;
    margin: 0 auto;
}
#searchStore{
    outline: none;
    border: 0;
    font-size: 14px;
    width: 100%;
}


