<div class="main-container">
    <div class="header">
        <h2>User Details</h2>
    </div> 
    <div class="content">
        <div class="main-content">
            <div class="detail">
                <h3>Fist Name : <i>{{ user.firstName }}</i></h3>
                <h3>Last Name : {{ user.lastName }}</h3>
            </div>
            <div class="detail">
                <h3>User Name : {{ user.userName }}</h3>
                <h3>Email : {{ user.email }}</h3>
            </div>
            <div class="detail">
                <h3>Role : {{ user.role }}</h3>
                <h3>User From : {{ user.userFrom }}</h3>
            </div>
        </div>
    </div>
</div>
