<!-- <div class="container" id="container"> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fast Online Hardware</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div> -->
<div class="my-container">
    <div id="container mb-5">
        <div class="content-wrapper">
            <div class="content mr-4">
                <img src="https://media.istockphoto.com/photos/set-of-construction-materials-picture-id836219790?k=20&m=836219790&s=612x612&w=0&h=GQLcAlkRdMi2yKjUzdn8RMRrYjnYKvGShioqPUe8vdo="
                    alt="" height="500" width="450">
            </div>
            <div class="content content-adjust mt-5">
                <h1 class="title">Fast Online Hardware</h1>
                <p class="mt-5">Shop online for convenient, affordable and high quality hardware and home improvement needs. Most convenient online
                hardware with 1000+ products.
                We aim to continue producing and delivering more quality hardware products to our customers.</p>
                <br>
                <p>Order and shop hardware supplies now at Online Hardware!</p>
            </div>
        </div>
    </div>
    <footer class="d-footer">
        <div class="f-container">
            <button class="htj-btn" [routerLink]="['/privacy-and-termconditions']">HOW TO JOIN</button>
        </div>
    </footer>
</div>