<!-- <div class="container" id="container"> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fast Online Hardware</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div> -->
<div class="my-container">
    <header class="landingpage-header">
        <div  class="header-title">
            <a class="header-title" href="#">
                <img src="../../../assets/images/fastline_logo.png" alt="" class="logo">
                <p class="header-title-text">fastLinehardware</p>
            </a>
        </div>
        
    </header>
    <div id="container mb-5">
        <!-- <div class="content-wrapper">
            <div class="content mr-4">
                <img src="https://media.istockphoto.com/photos/set-of-construction-materials-picture-id836219790?k=20&m=836219790&s=612x612&w=0&h=GQLcAlkRdMi2yKjUzdn8RMRrYjnYKvGShioqPUe8vdo="
                    alt="" height="500" width="450">
            </div>
            <div class="content content-adjust mt-5">
                <h1 class="title">Fast Online Hardware</h1>
                <p class="mt-5">Shop online for convenient, affordable and high quality hardware and home improvement needs. Most convenient online
                hardware with 1000+ products.
                We aim to continue producing and delivering more quality hardware products to our customers.</p>
                <br>
                <p>Order and shop hardware supplies now at Online Hardware!</p>
            </div>
        </div> --> 
        <div class="content-body">
            <div class="content">
                <div class="qoute">
                    <h3 class="join-us">JOIN WITH US!!</h3>
                    <p class="content-text">We're construct for the best thing in life 
                        <br>bringing the best tools and equipments <br>the shopping experience to our customer</p>
                    <p class="content-text">Fastline is multi-national <br> fast-growing business that maitains 
                        <br>its appeal as localised service <br>with communtiy ambition</p> 
                    <div class="p-3">
                        <a class="custom-btn" [routerLink]="['/registration']">GET STARTED</a>
                    </div>
                </div>
                <div class="qoute">
                    <h3 class="join-us">Advantage of Joining Us</h3>
                    <p class="content-text">More Revenue</p>
                    <small class="content-text">With fastline hardware, you will gain an additional source of income. <br> Our customers are continually searching the quality <br> products in terms of construction materials in their city.</small>
                    <p class="content-text">Dedicated Support</p>
                    <small class="content-text">From perfecting your delivery and sending out reports, <br> to improves your performance, we're here to <br> help you every step of the way.</small>
                    <p class="content-text">Constant flexibility</p>
                    <small class="content-text">Pause orders if you're feeling overwhelmed. <br> You decide for yourself.</small>
                </div>
            </div>
        </div>
        <footer class="footer bg-w center">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Steps to Activation</h2>
                    <div class="row">
                        <div class="col">
                            <p>Step 1:</p>
                            <small class="b-700">Sign-up Online</small>
                            <p>Step 3:</p>
                            <small class="b-700">Sign the contract</small>
                        </div>
                        <div class="col">
                            <p>Step 2:</p>
                            <small class="b-700">Fastline sends the contact</small>
                            <p>Step 4:</p>
                            <small class="b-700">GO LIVE on Fastline</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h2 class="text-center">How it works</h2>
                    <div class="row">
                        <div class="col">
                            <p>Step 1:</p>
                            <small  class="b-700">
                                Customer enters a delivery address via the or website <br>
                                and select a nearby hardware store.
                            </small>
                            <p>Step 2:</p>
                            <small class="b-700">
                                Hardware store accepts the order in <br>
                                the ordering system and starts preparing the <br>
                                order straigth away. 
                            </small>
                        </div>
                        <div class="col">
                            <p>Step 3:</p>
                            <small class="b-700">
                                Our rider arrives at the right time <br>
                                to collect and delivers the order within <br>
                                30mins after the order was placed
                            </small>
                            <p>Step 4:</p>
                            <small class="b-700">
                                Fastline sends you the proceeds <br>
                                from your order every month and provides <br>
                                deep insights on your performance.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 
        <footer class="footer-2 bg-black">
            <div class="footer-details">
                <a class="anchor" [routerLink]="['/privacy-and-termconditions']">
                    <small>Terms and Condition/Privacy Policy</small>
                </a>
                <a class="anchor" href="https://www.facebook.com">
                    <small>Social Media: FB Fastline Hardware</small>
                </a>
                <small class="anchor">Tell No. 212-456-7890</small>
                <small class="anchor">Cell No. 0981762512</small>
            </div>
        </footer>
    </div>
    <!-- <footer class="d-footer">
        <div class="f-container">
            <button class="htj-btn" [routerLink]="['/privacy-and-termconditions']">HOW TO JOIN</button>
        </div>
    </footer> -->
</div>