.sale-report-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data-container{
    padding: 32px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(164, 156, 156, 0.12);
    mix-blend-mode: darken;
    box-sizing: border-box;
    box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}
.data{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.data-val{
    padding: 12px;
    margin: 10px;
}
.data-wrapper{
    display: flex;
    justify-content: center;
}
.data-header{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
}