#container{
    margin-top: 100px;
    background: rgba(22, 23, 22, 0.01);
    mix-blend-mode: darken;
    /* border: 1px solid rgba(0, 0, 0, 0.38); */
    box-sizing: border-box;
    box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37);
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.header{
    margin-bottom: 30px;
    margin-left: 25px;
}
.error-alert{
    font-size: 16px;
    color: red;
}
p{
    margin-left: 25px;
}