.req-container{
    padding: 25px;
    mix-blend-mode: darken;
    box-sizing: border-box;
    box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37);
    border-radius: 12px;
    margin-bottom: 10px;
}
.req-header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.req-container:hover{
    cursor: pointer;
    background: rgba(164, 156, 156, 0.12);
} 
.reqs{
    padding: 40px;
}
.req-scroller{
    /* overflow-y: scroll;
    height: 440px;
    padding: 20px; */
}