.main{
    margin: 0%;
    padding: 0%;
}
.store-header{
    margin-top: 55px;
    background-color: #F4DF4EFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
}
.fix{
    position: fixed;
    width: 100%;
}
.store-header .items{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.items{
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: #020509;
    font-weight: 600;
}
ul li{
    list-style: none;
    margin: 15px;
    font-size: 20px;
}
li a{
    padding: 10px;
    width: auto;
    text-align: center;
}
.item:hover{
    color: #474747;
}
.sl-container{
    display : flex;
    justify-content: center;
    margin-top: 40px;
}
.store-landing-page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3vh;
    column-gap: 2vh;
}
.sl-header{
    display: flex;
    justify-content: first baseline;
    margin-left: 20vh;
}
.sl-text{
    padding: 5px;
    border-bottom: 4px black solid;
}

.cat{
    color: #020509;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    border: 1px #f33918 solid;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-right: 2px;
}
.cart{
    margin: 3vh;
    display: flex;
    text-decoration: none;
}
.cart i{
    font-size: 30px;
}
.header{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: #f33918;
    width: fit-content;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
}
.categories{
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: 2px;
    /* width: 200px; */
    margin-right: 3vh;
    padding: 2px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.branch-board{
    padding: 2vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 820px;
    height: 310px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.branch-info{
    z-index: 1;
}

.base-title{
    font-size: 25px;
    font-weight: 800;
    color: white;
}
.small-title{
    font-size:17px;
    font-weight: 600;
    color: white;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    scrollbar-width: thin;
    background: #020202;
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7vh;
}

.search-container{
    display: flex;
    justify-content: center;
    width: 50%;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2vh;
    padding-right: 2vh;
    /* padding: 2vh; */
    border: 2px #f33918 solid;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    width: 100%;
}
.search-text{
    background-color: #f33918;
    color: white;
    font-size: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    padding: 5px;
    margin: 0 auto;
}
#searchStore{
    outline: none;
    border: 0;
    font-size: 14px;
    width: 100%;
}