<!-- <div class="main"> 
    <div class="store-header"> 
        <ul class="items"> 
            <li><a href="" class="item">About</a></li>
            <li><a [routerLink]="['/hardware-store-page',hardwareStoreId,'products',hardwareStoreId,'product-category','all',hardwareStoreId]" class="item">Products</a></li>
            <li *ngIf="isLogged"><a href="" class="item">Order History</a></li>
        </ul>
    </div>
    <div class="content"> 
        <router-outlet></router-outlet>
    </div>
</div> -->
<div class="store-landing-page">
    <div class="sl-header">
        <h3 class="sl-text">{{ hardwareStore?.hardwareStoreName }} Branches</h3>
    </div>
    <div class="sl-container">
        <div class="main-container">
            <app-branch-display *ngFor="let branch of branches" [branch]="branch" (onGo)="go($event)"></app-branch-display>
        </div>
    </div>
</div>
