.main-caontainer{
    margin-top: 5vh;
    padding-bottom: 10vh;
}
#submit-btn{
    margin-left: 550px;
    width: 350px;
    text-align: center;
}
h3{
    font-weight: 800;
}
.reg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctrl{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-group{
    width: 35%;
}
.register-btn{
    padding: 1.5vh;
    margin-top: 2vh;
    border-radius: 30px;
    font-weight: 800;
    border: 0;
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f33918 74%);
    width: 100%;
}