.my-nav{
    color: black;
    font-size: 25px;
    border: 2px black solid;
    border-radius: 5px;
    margin: 3px;
    background-color: white;
}
#main-cantainer{
    margin-top: 80px;
}
.my-nav:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}