<div id="main-cantainer" class="container"> 
    <nav class="nav nav-pills nav-justified">
        <!-- <a class="nav-item nav-link my-nav" (click)="click('store')">Stores</a> -->
        <button class="nav-item nav-link my-nav" (click)="click('store')">Stores</button>
        <button class="nav-item nav-link my-nav" (click)="click('register')">Register Store</button>
        <!-- <a class="nav-item nav-link my-nav" (click)="click('register')">Register Store</a> -->
        <a class="nav-item nav-link my-nav" href="#">ETC</a>
    </nav>  
    <div *ngIf="menu == 'store'">
        <app-list-stores-in-main-admin></app-list-stores-in-main-admin>
    </div>
    <div *ngIf="menu == 'register'">
        <app-register-store></app-register-store>
    </div>
</div> 

