.main-caontainer{
    margin-top: 5vh;
    padding-right: 40px;
    padding-left: 40px;
}
.main-caontainer #back-icon{
    padding-bottom: 30px;
}
.my-btn{
    display: flex;
    justify-content: center;
}
#submit-btn{
    width: fit-content;
}
.sbt-btn{
    background-color:  rgba(249, 184, 17, 0.92);
}
.main-form{
    background: rgba(22, 23, 22, 0.01);
    mix-blend-mode: darken;
    /* border: 1px solid rgba(0, 0, 0, 0.38); */
    box-sizing: border-box;
    box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37);
    border-radius: 11px;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 20px;
    color: rgba(249, 184, 17, 0.92);
}
.title .infos{
    display: flex;
    justify-content: flex-end;
}
.infos{
    padding: 2px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#my-check-box{
    margin-top: 30px;
    margin-left: 16px;
}
input[type="checkbox"]{
    zoom: 2; 
}
#my-label{
    margin-top: 10px;
}
#back-icon{
    margin-left: 15px;
    font-size: 45px;
}
#back-icon:hover{
    cursor: pointer;
}

#map{
    height: 80vh;
    margin-bottom: 3vh;
}
.error-alert{
    color: red;
    font-size: 18px;
}
.card{
    padding: 10px;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-bottom: 5vh;
}
