<div class="main-caontainer"> 
    <i id="back-icon" (click)="back()" class="fas fa-chevron-left" title="Back"></i>
    <div class="main-form">
        <div class="title">
            <h1>Check Out</h1>
            <!-- <div class="infos">
                <div class="main-info">
                  <p><b>Total : </b>{{ total | currency : 'PHP'}}</p> 
                  <p>Cash on Delivery</p>
                </div>
                <div class="main-info" *ngIf="deliver">
                  <p><b>Note: </b>The delivery fee will notify via SMS</p>
                </div>
            </div> -->
        </div>
        <div class="container">
            <form [formGroup]="orderForm" (ngSubmit)="order()" class="card">
              <div class="row">
                <div class="col">
                  <label for="firstname">First Name</label>
                  <input required type="text" name="firstName" class="form-control" id="firstname" formControlName="firstName" placeholder="Firstname">
                </div>
                <div class="col">
                  <label for="lastname">Last Name</label>
                  <input type="text"  name="lastName" class="form-control" id="lastname"
                  formControlName="lastName" placeholder="Lastname">
                </div>
              </div> 
              <div class="row">
                  <div class="col">
                    <label for="contactno">Contact no.</label>
                    <input type="number"  name="contactNo" class="form-control" id="contactno"
                    formControlName="contactNo" placeholder="968XXXXXXX">
                  </div>
                  <div class="col">
                    <label for="address">Address</label>
                    <input type="text"  name="address" class="form-control" id="address"
                    formControlName="address" placeholder="Address">
                  </div>
              </div>
              
              <div class="row">
              
                  <div class="col">
                      <div class="form-check" id="my-check-box">
                          <input (change)="isDeliver()" class="form-check-input" type="checkbox" value="" id="deliver">
                          <label class="form-check-label" for="deliver" id="my-label">
                            Do you want to deliver them your order?
                          </label>
                      </div>
                  </div>
                  <div class="col">
                      <label for="submit-btn">Place Order</label>
                      <button [disabled]="isSuccess" type="submit" class="btn btn-warning form-control" title="Post Order">{{ buttonText }}</button>
                  </div>
                
              </div>
              
                <div *ngIf="!isValid" class="alert alert-warning" role="alert">
                  {{ messageError }}
                </div>
            </form>
            <div class="list-group">
                <a class="list-group-item list-group-item-action bg-secondary">
                  Payment Details:
                </a>
                <a class="list-group-item list-group-item-action">Total: {{ total | currency : 'PHP' }}</a>
                <a class="list-group-item list-group-item-action">Shipping fee: {{ cartDetails.shippingFee | currency : 'PHP' }}</a>
                <a class="list-group-item list-group-item-action">Total cost: {{ (total + cartDetails.shippingFee) | currency : 'PHP'}}</a>
                <a class="list-group-item list-group-item-action">Cash on delivery</a>
            </div>
            <div class="my-map" [hidden]="!deliver">
              <div id="map"></div>
            </div>
        </div>
        
    </div>
</div>