<div class="container">
    <div class="header">
        <h4>Acceptable Use Policy</h4>
    </div>
    <div class="content">
        <p>This agreement is made this(Current Year) day of (Current Month) (Current Year) by and between (Hardware Store) and Fast
        Online Hardware.</p>
        <br>
        <p>The Purpose of this policy is to set forth an Acceptable Use Policy ("AUP") by which customer will abide using good
        services. By using Company Web Hosting and Services, customers agrees to comply with the following policies and assume
        responsibly for yhe compliance of all customers user permitted by customer to use company products and services.</p>
        <br>
        <p>As a service the standard Acceptable Use Policy is provided below.</p>
    </div>
    <!-- <div class="header">
        <h4>Terms and Conditions</h4>
    </div> -->
    <!-- <div class="content">
        <p>As a service the standard Acceptable Use Policy is provided below.</p>
    </div> -->
    <div class="header">
        <h3>TERMS AND CONDITION</h3>
    </div>
    <div class="content">
        <div class="term-condition">
            <h5>1. Agreement Overview</h5>
            <ul>
                <li>1.1 This agreement represents a service level agreement of hardware stores for the provision of the Services.</li>
                <li>1.2 Any additional or future services that the parties agree shall be subject to this
                Agreement.</li>
            </ul>
        </div>
        <div class="term-condition">
            <h5>2. Service Agreement</h5>
            <ul>
                <li>2.1 The following detailed service parameters are the responsibility of the Hardware stores in the
                ongoing support of this Agreement:
                that includes product descriptions, cost to the system, and pricing at the
                Hardware stores physical location, all of which may be changed from time to time if
                mutually agreed upon by the parties;
                (a) to fulfill and have complete orders as soon as possible.</li>
                <li>2.2 The following detailed service parameters are the responsibility of online hardware ordering system in the ongoing
                support of this Agreement:
                (a) to work with hardware store on a menu;
                (b) to use reasonable efforts to make advise the hardware stores quickly of any changes
                to orders that have been confirmed.</li>
            </ul>
        </div>
        <div class="term-condition">
            <h5>3. Pricing</h5>
            <p>3.1 The amount paid by online hardware ordering to the stores for an item on their menu and amount charged by the system
            to the end client is set
            based on the agreement:</p>
            <ul>
                <li>(a) hardware stores agrees give online hardware 10% of the sales.</li>
                <li>(c) Hardware stores agrees that the online hardware Price and the Customer Price will apply to all
                menu items on online hardware.</li>
            </ul>
        </div>
        <div class="term-condition">
            <h5>4. Errors and penalties</h5>
            <ul>
                <li>4.1 Online hardware reserves the right to determine, within reason, appropriate compensation for
                errors made by the hardware stores in the fulfilment of orders. It agrees that the
                costs associated with rectifying such errors are the sole responsibility of the said store.</li>
            </ul>
        </div>
        <p>Online ordering hardware and the Merchant each agree that they have read, understood, and agree to the Standards of
        Service set out in this Agreement.</p>
        <div class="header">
            <h3>SUBMIT YOUR REQUIREMENTS IN THE FOLLOWING OFFICES</h3>
        </div>
        <div class="content">
            <details>
                <summary>Requirements</summary>
                <ul>
                    <li>1.)BIR</li>
                    <li>2.)DTI</li>
                    <li>3.)Business Permit</li>
                </ul>
            </details>
            <div class="content-container mt-4">
                <div class="row mb-5">
                    <div class="col">
                        <div class="icon">
                            <i class="fal fa-building"></i>
                            <p>Carmen Cagayan de Oro City</p>
                            <small class="text-muted">Max Suniel Sts.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="icon">
                            <i class="fal fa-building"></i>
                            <p>Gusa Cagayan de Oro City</p>
                            <small class="text-muted">Purok 3 Banuson</small>
                        </div>
                    </div>
                    <div class="col ml-4 mr-4">
                        <div class="icon">
                            <i class="fal fa-building"></i>
                            <p>Bugo Cagayan de Oro City</p>
                            <small class="text-muted">Upper Bantiles Zone 1</small>
                        </div>
                    </div>
                    <div class="col ml-4 mr-4">
                        <div class="icon">
                            <i class="fal fa-building"></i>
                            <p>Bulua Cagayan de Oro City</p>
                            <small class="text-muted">Barra Road</small>
                        </div>
                    </div>
                </div>
            </div>
            <a [routerLink]="['/registration']" class="mt-2 mb-4 content-container link">Click here to submit your requirements online.</a>
        </div>
    </div>
</div>