<!-- <div id="main" class="col-sm">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ hardwareStore.hardwareStoreName }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ hardwareStore.isOpen ? 'Open' : 'Close'}}</h5>
          <p class="card-text">{{ hardwareStore.hardwareStoreId }}</p>
        </div>
    </div>
</div>  -->
<!-- <table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Date Registered</th>
      <th>Monthly Sales</th>
      <th>Profit(3%)</th>
      <th>Platform fee(PHP1,000)</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>
          <p>Reyjohn's Hardware</p>
          <small>(Gusa, Cagayan de Oro City)</small>
        </td>
        <td>July 05, 2022</td>
        <td>PHP1,000,000</td>
        <td>PHP30,000</td>
        <td>PHP1,000</td>
        <td>PHP31,000</td>
    </tr>
  </tbody>
</table> -->

