.details-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    background: rgba(164, 156, 156, 0.12);
    mix-blend-mode: darken;
    box-sizing: border-box;
    /* box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37); */
    max-width: 80%;
    width: 75%;
    margin-bottom: 10px;
}
.details-container{
    display: flex;
    flex-direction: column;
}
.details-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data{
    padding: 4px;
    margin: 20px;
}
.product-desc{
    background: rgba(164, 156, 156, 0.12);
    mix-blend-mode: darken;
    box-sizing: border-box;
    /* box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37); */
    width: 75%;
    max-width: 80%;
}
.details-item{
    padding: 10px;
    margin: 5px;
}
.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.d-container{
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    margin-top: 100px;
}
