<h3 class="header-title">SUBMITS</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Registered Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let companyRegister of companyRegisters">
        <tr>
            <td>{{ companyRegister?.firstName }}</td>
            <td>{{ companyRegister?.lastName }}</td>
            <td>{{ companyRegister?.registeredDate | date : 'mediumDate' }}</td>
            <td><a class="btn btn-success" [routerLink]="['/main-admin','details',companyRegister?.id]">Details</a> | <button class="btn btn-danger" (click)="delete(companyRegister.id)" [disabled]="!isdeleteEnable">Delete</button></td>
        </tr>
       
    </tbody>
</table>
<h3 style="display: flex; justify-content: center;" *ngIf="companyRegisters.length == 0">{{ message }}</h3>