<div class="main"> 
    <div class="hardware-stores-container"> 
        <div class="header align-items-center">
            <div class="km-adjustment">
                <small>Range adjustment</small>
                <div class="controls">
                    <button class="adjust-btn" (click)="increment()" [disabled]="isBtnDisable">+</button>
                    <label class="label">{{ km }}km</label>
                    <button class="adjust-btn" (click)="decrement()" [disabled]="isBtnDisable">-</button>
                </div>
            </div>
            <a routerLink="/nearby-stores" [queryParams]="{ km : km }">View Nearby Stores in map</a>
        </div>
        <div class="store-list"> 
            <app-hardware-store 
                *ngFor="let hardwareStore of branches"
                [hardwareStore]="hardwareStore"
                (goEvent)="go(hardwareStore)">
                </app-hardware-store>
        </div>
        <h1 *ngIf="branches.length === 0 && (customerLat !== 0 || customerLng !== 0)">There's no stores near at you!</h1>
        <h1 *ngIf="loading">{{ message }}</h1>
        <!-- <h1 *ngIf="branches.length === 0 && (customerLat == 0 || customerLng == 0)">There's no stores near at you!</h1> -->
    </div>
</div>