.main-categ{
    height: 240px;
    padding: 10px;
    margin-top: 2px;
    overflow: hidden;
    overflow-y: scroll;
}
.main{
    padding: 20px;
}
.add-btn{
    margin-left: 85%;
    padding: 3px;
    margin-bottom: 3px;
}