<div class="main">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a (click)="selectMenu('orders')" class="nav-link" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Orders <i class="fal fa-bags-shopping"></i><span id="notif-number">{{ orderNotif.numberOfOrderNotif > 0 ? orderNotif.numberOfOrderNotif : ''}}</span></a>
        <a *ngIf="role == 'StoreOwner'" (click)="selectMenu('products')" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Products</a>
        <a *ngIf="role == 'StoreOwner'" (click)="selectMenu('categories')" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Categories</a>
        <a *ngIf="role == 'StoreOwner'" (click)="selectMenu('transportagt')" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Transport Agent</a>
        
      </div>
      <!-- <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      </div> -->
</div>