<!-- <div class="main"> 
    <div class="details"> 
        <h1 id="store-title">Fast Online Hardware</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, assumenda.</p>
    </div>
    <div class="main-form"> 
        <div class="title"> 
            <i class="far fa-user"></i>
            <h3 id="login-text">Log In</h3>
        </div>
        <form class="user-form" (ngSubmit)="logIn()"> 
            <div class="my-form"> 
                <input class="my-input" name="username" [(ngModel)]="username"
                id="username" type="text" placeholder="Username">
            </div>
            <div class="my-form"> 
                <input class="my-input" name="password" [(ngModel)]="password" 
                id="password"
                type="password" placeholder="Password">
            </div>  
            
            <div class="my-form"> 
                <input class="my-btn" type="submit" value="Login">
            </div> 
            
        </form> 
        <div id="mess-alert" *ngIf="!isValid" class="alert alert-warning" role="alert">
            {{ message }}
          </div>
    </div>
</div> --> 

<div class="container-login">
    <div class="login-form">
        <div class="header-title">
            <p class="title">Fastline Hardware</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="logIn()">
            <div class="form-ctrl-container">
                <input type="text" placeholder="Username" class="form-ctrl" formControlName="username">
            </div>
            <div class="form-ctrl-container">
                <input type="password" placeholder="Password" class="form-ctrl" formControlName="password">
            </div> 
            <button type="submit" class="form-ctrl login-btn" [disabled]="invalidInput()">{{ btnText }}</button>
        </form>
        <small *ngIf="!isValid" class="error-message">{{ message }}</small>
        <small class="bottom-text">Don't have an account? <a [routerLink]="['/register']">Sign Up</a></small>
    </div>
</div>