.content-container{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vh;
    padding-right: 3vh;
}
.content{
    padding: 3vh;
}
.header-title{
    font-weight: 700;
    font-size: 28px;
}

.custom-btn{
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: 0;
    border-radius: 30px;
    font-weight: 700;
    font-size: 11px;
    /* background-image: linear-gradient(315deg, #f5d020 0%, #f33918 74%); */
    background-color: #f33918;
    color: white;
    text-decoration: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
} 

.custom-btn:hover{
    /* color: #FCA311; */
    color: black;
}

.back-btn{
    padding: 1vh;
    padding-left: 4vh;
    padding-right: 4vh;
    border: 0;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    /* background-image: linear-gradient(315deg, #f5d020 0%, #f33918 74%); */
    background-color: black;
    color: white;
    text-decoration: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
} 

.back-btn:hover{
    /* color: #FCA311; */
    color: #f33918;
}