#container{
    margin-top: 120px;
    width: auto;
    margin-bottom: 10vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.error-alert{
    font-size: 16px;
    color : red;
}
#map{
    height: auto;
    width: 85vh;
    border-radius: 10px;
}
.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}