.choices{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px;
}
.detail{
    display: grid;
    grid-template-columns: 15fr 1fr ;
    padding: 4px;
}
#deliver{
    font-size: 12px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.is-recieved{
    color: green;
}
.not-recieved{
    color: red;
}