<a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <i [class]="order.isCustomerOrderRecieved ? 'fas fa-check-circle is-recieved' : 'fas fa-times-circle not-recieved'"></i>
      </h5>
      <small><b>Order Date:</b> {{ order.orderDate | date : 'EEE MMMM d y'}}</small>
    </div>
    <p class="mb-1"><b>Customer Name: </b> <i>{{order.customerName}}</i></p>
    <div class="detail"> 
      <small><b>Total Payment:</b> {{order.total}}</small> 
      <small><span id="deliver">{{order.deliver ? 'Deliver' : 'Pick up'}}</span></small> 
    </div>
    <div class="choices"> 
        <button (click)="detail(order.orderId,order.total)" class="btn btn-outline-success">Details</button>
        <button (click)="viewProducts(order.orderId)" class="btn btn-outline-primary">View Products</button>
        <button (click)="modified(order)" class="btn btn-outline-warning">Modified</button>
    </div>
</a>
