#container{
    padding: 5vh;
}
.header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images{
    display: flex;
    flex-direction: row;
}
.verified{
    font-size: 45px;
    color: blue;
}