.main-container{
    width: auto;
}
.form-container{
    width: auto;
    display : flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper{
    margin-bottom: 10vh;
}
.branch-image{
    display: flex;
    justify-content: center;
    padding: 10vh;
}
.map{
    display: flex;
    flex-direction: column;
}
#map{
    height: auto;
    width: 90vh;
    border-radius: 10px;
}