#main{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.selected-item{
    width: auto;
    margin-top: 115px;
    margin-left: -200px;
    padding: 20px;
    margin-right: 30px;
}
#order-item{
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}
