/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.custom-active{
  background-color:#F2AA4CFF;
  color: #101820FF;
  padding:10px;
  border-radius:13px;
  
  /* color: #101820FF; */
  /* color: #F2AA4CFF */
}

.custom-btn-app{
  padding: 2vh;
  padding-left: 6vh;
  padding-right: 6vh;
  border: 0;
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
} 

.custom-btn-app:hover{
  /* color: #FCA311; */
  color: #f33918;
}
