.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;
}
#map{
    width: 140vh;
    height: 80vh;
}
.header{
    display: flex;
    justify-content: flex-start;
}