<div class="main">
    <div class="header">
        <button class="btn btn-danger"><i class="fas fa-chevron-circle-left"></i> Back</button>
        <h3>Add Transport Agent</h3>
    </div>
    <div class="transport-agent-form">
        <form [formGroup]="transportAgentForm" (ngSubmit)="add()">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstname">First Name</label>
                  <input required type="text" name="firstName" class="form-control" id="firstname" formControlName="firstName" placeholder="Firstname">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastname">Last Name</label>
                  <input type="text"  name="lastName" class="form-control" id="lastname" 
                  formControlName="lastName" placeholder="Lastname">
                </div>
              </div> 
           
              
              <div class="form-row">
                  <div class="form-group col-sm">
                    <label for="username">Username</label>
                    <input type="username"  name="userName" class="form-control" id="username" 
                    formControlName="userName" placeholder="Username">
                  </div>
                  <div class="form-group col-sm">
                    <label for="password">Password</label>
                    <input type="password"  name="password" class="form-control" id="password" 
                    formControlName="password" placeholder="Password">
                  </div>
                  <div class="form-group col-sm">
                      <label for="confirm-password">Confirm Password</label>
                      <input type="password"  name="confirmPassword" class="form-control" id="confirm-password"
                      formControlName="confirmPassword" placeholder="Confirm Password">
                    </div>
                </div> 
                <div *ngIf="!isValid" class="alert alert-warning" role="alert">
                    {{ message }}
                  </div>
                <button id="submit-btn" type="submit" class="btn btn-outline-dark">{{ btnText == null ? 'Register' : btnText }}</button>
        </form>
    </div>
</div>