.report-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.report-data-wrapper{
    
}
.report-data{
    padding: 20px;
    margin: 10px;
    width: 100%;
    background: rgba(192, 165, 165, 0.12);
    mix-blend-mode: darken;
    box-sizing: border-box;
    box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    margin: 20px;
}
.report-data-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text{
    color: #FCA311;
}